* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


li {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height:6rem;
    margin-top:1rem;
    background-color: aqua;
}

#button-section {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.fuel-button {
    width:10rem;
}

.button {
  width:10rem;
}